div{
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    animation: simple_animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes simple_animation
{
    0%{background-color: red; left:0px;top:0px;}
    25%{background-color:blue; left:300px;top:0px;}
    50%{background-color: green; left:300px;top:300px;}
    75%{background-color: yellow; left:0px;top:300px;}
    100%{background-color: red; left:0px;top:0px;}
}